<article class="article-block">
  <p class="middle-text">Today, Google  is launching the biggest revamp of Gmail in years. The company is bringing to the flagship Gmail service many (but not all) of the features it trialed in Inbox for Gmail, and adding a few new ones, too. With those new features, which we first reported earlier this month, the company is also introducing a refreshed design for the service, though if you’ve used Gmail before, you’ll feel right at home.</p>
  <p>Today, Google  is launching the biggest revamp of Gmail in years. The company is bringing to the flagship Gmail service many (but not all) of the features it trialed in Inbox for Gmail, and adding a few new ones, too. With those new features, which we first reported earlier this month, the company is also introducing a refreshed design for the service, though if you’ve used Gmail before, you’ll feel right at home.</p>
  <img src="img/content/empty-content-img.jpg" alt="картинка статьи">
  <p>Today, Google  is launching the biggest revamp of Gmail in years. The company is bringing to the flagship Gmail service many (but not all) of the features it trialed in Inbox for Gmail, and adding a few new ones, too. With those new features, which we first reported earlier this month, the company is also introducing a refreshed design for the service, though if you’ve used Gmail before, you’ll feel right at home.</p>

  <div class="comment-block">
    <p class="comment-block__text">
      Today, Google  is launching the biggest revamp of Gmail in years. The company is bringing to the flagship Gmail service many (but not all) of the features it trialed in Inbox
    </p>

    <footer class="comment-block__author">
      <img src="img/content/empty-user.png" alt="Мария Шарапова">
      <span class="comment-block__user">
        <span class="comment-block__name">Мария Шарапова</span>
        <span class="comment-block__position">Ваш любимый автор</span>
      </span>
    </footer>
  </div>

  <ul class="content-list">
    <li>
      <span class="content-list__title">Today, Google  is launching the biggest revamp of Gmail in years. </span>
      <span class="content-list__text">It's a dangerous business, Frodo, going out your door.</span>
    </li>

    <li>
      <span class="content-list__title">Today, Google  is launching the biggest revamp of Gmail in years. </span>
      <span class="content-list__text">It's a dangerous business, Frodo, going out your door.</span>
    </li>

    <li>
      <span class="content-list__title">Today, Google  is launching the biggest revamp of Gmail in years. </span>
      <span class="content-list__text">It's a dangerous business, Frodo, going out your door.</span>
    </li>

    <li>
      <span class="content-list__title">Today, Google  is launching the biggest revamp of Gmail in years. </span>
      <span class="content-list__text">It's a dangerous business, Frodo, going out your door.</span>
    </li>
  </ul>

  <div class="content-table-wrapper">
    <table class="content-table">
      <thead>
      <th></th>
      <th>Колонка 1</th>
      <th>Колонка 2</th>
      <th>Колонка 3</th>
      </thead>
      <tbody>
      <tr>
        <td>Условие 1</td>
        <td>100</td>
        <td>500</td>
        <td>500+</td>
      </tr>
      <tr>
        <td>Условие 2</td>
        <td>1 GB</td>
        <td>5 GB</td>
        <td>5 GB +</td>
      </tr>
      <tr>
        <td>Условие 3</td>
        <td>500 MB</td>
        <td>1500 MB</td>
        <td>1500 MB +</td>
      </tr>
      <tr>
        <td>Условие 4</td>
        <td>Нет</td>
        <td>Да</td>
        <td>Да</td>
      </tr>
      </tbody>
    </table>
  </div>
</article>
