<div class="block-consult">
  <div class="container">
    <div class="block-consult__wrapper">
      <p class="block-consult__heading">
        <span>Гарантированное</span> решение проблем с&nbsp;бухгалтерией
      </p>
      <p class="block-consult__descr">
        Бесплатная консультация с&nbsp;экспертом
      </p>

      <form action="./form.php" method="post" class="block-consult__form main-consult-form">
        <div class="input-wrapper">
          <input type="tel" name="phone" placeholder="Телефон" class="main-consult-form__input">
        </div>
        <button type="submit" class="main-consult-form__button">Перезвоните мне</button>
      </form>
    </div>
  </div>
</div>
