<div class="callback-block-with-modal {{class}}">
  <div class="container">
    <div class="callback-block-with-modal__wrapper">
      <span class="callback-block-with-modal__title">
    Ответим на ваши вопросы
  </span>

      <p class="callback-block-with-modal__text">
        Есть вопросы? <br>
        Перезвоним и проконсультируем.
      </p>

      <button type="button" class="open-layout-form callback-block-with-modal__button" aria-expanded="false" aria-controls="form-overlay">Позвоните мне</button>
    </div>
  </div>
</div>
