<div id="form-request-overlay" class="block-overlay form-overlay request-form">
  <div class="container block-overlay__wrapper">
    <button class="block-overlay__close-button" type="button" aria-label="закрыть меню"></button>
    <div class="block-overlay__top">
      <figure class="block-overlay__logo">
        <img src="img/svg/main-logo-white.svg" alt="Профит">
        <figcaption class="block-overlay__logo-text">
          Бухгалтерские услуги
        </figcaption>
      </figure>

    </div>

    <div class="block-overlay__inner">
      <div class="form-overlay__wrapper">
        <div class="form-overlay__form-wrapper">
          <span class="form-overlay__heading">Заказать услугу:</span>
          <p class="form-overlay__text">

          </p>

          <form action="" method="post" class="regular-form form-overlay__form">
            <div class="visually-hidden input-wrapper">
              <input type="hidden" value="" name="name-service" data-ignored>
            </div>

            <div class="regular-form__field input-wrapper">
              <input placeholder="Имя" name="name" class="regular-form__input" type="text">
            </div>

            <div class="regular-form__field input-wrapper">
              <input placeholder="Телефон" name="phone" class="regular-form__input" type="tel">
            </div>

            <button class="regular-form__button" type="submit">Заказать</button>
          </form>
        </div>
        <div class="form-overlay__address-wrapper">
          <span class="form-overlay__heading">Контакты:</span>
          <p class="form-overlay__text">
            С нами можно связать любым <br> удобным способом
          </p>

          <div class="form-overlay__address">
            <span class="form-overlay__address-name">ООО “ПРОФИТ”</span>
            <address class="form-overlay__address-inner">
              <span class="form-overlay__address-item">350000, г. Краснодар</span>
              <span class="form-overlay__address-item">ул. Старокубанская оф. 888</span>
              <span class="form-overlay__address-item">e-mail: <a href="mailto:hello@gmail.com" class="form-overlay__address-mail">hello@gmail.com</a></span>
              <span class="form-overlay__address-item">телефон: <a href="tel:+792854321" class="form-overlay__address-phone">+7 928 543 21</a></span>
            </address>
          </div>
          <ul class="social-list">
            <li class="social-list__item">
              <a href="" class="social-list__link" aria-label="vk">
                <svg width="12" height="10">
                  <use xlink:href="#icon-vk"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link" aria-label="pinterest">
                <svg width="10" height="10">
                  <use xlink:href="#icon-pinterest"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link" aria-label="instagram">
                <svg width="10" height="10">
                  <use xlink:href="#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link" aria-label="twitter">
                <svg width="10" height="10">
                  <use xlink:href="#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link" aria-label="facebook">
                <svg width="6" height="10">
                  <use xlink:href="#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
