<nav class="main-nav" id="main-menu" aria-label="Main menu" role="navigation">
  <ul class="nav level-1 list-reset main-nav__list" role="menubar">
    <li class="has-subnav main-nav__item" role="menuitem" aria-haspopup="true">
      <a href="" class="main-nav__link">Для ИП</a>

      <ul class="level-2 list-reset main-nav__sub-list sub-menu" aria-hidden="true" role="menu">
        <li class="sub-menu__item sub-menu__item--active" role="menuitem">
          <a href="services-page.html" class="sub-menu__link" tabindex="-1">Бухгалтерские услуги</a>
        </li>
        <li class="sub-menu__item" role="menuitem">
          <a href="#" class="sub-menu__link" tabindex="-1">Юридические услуги</a>
        </li>
      </ul>
    </li>
    <li class="main-nav__item" role="menuitem">
      <a href="" class="main-nav__link">Для ООО</a>
    </li>
    <li class="main-nav__item main-nav__item--active" role="menuitem">
      <a href="" class="main-nav__link">Прочие услуги</a>
    </li>
    <li class="main-nav__item" role="menuitem">
      <a href="price-list.html" class="main-nav__link">Цены</a>
    </li>
    <li class="main-nav__item" role="menuitem">
      <a href="contacts.html" class="main-nav__link">Контакты</a>
    </li>
  </ul>
</nav>
