<div class="main-banner">
  <div class="container">
    <div class="main-banner__content">
      <h1 class="main-banner__title">
        Решение проблем <br>
        с бухгалтерией
      </h1>
      <p class="main-banner__descr">
        Бухгалтерская и юридическая помощь <br>
        для ИП и ООО c 1997 года
      </p>
      <div class="main-banner__btn-wrapper">
        <button type="button" class="open-layout-form main-banner__call-btn" aria-expanded="false" aria-controls="form-overlay">
          Позвоните мне
        </button>

        <button type="button" class="main-banner__service-btn">
          Список услуг
        </button>
      </div>

      <span class="main-banner__btn-descr">
      Бесплатная консультация <br>специалиста
    </span>
    </div>

    <div class="main-banner__image-wrapper">
      <img class="doc-image doc-1" src="img/content/content-doc-1.png" srcset="img/content/content-doc-1.png 1x, img/content/content-doc-1@2x.png 2x" alt="">
      <img class="doc-image doc-2" src="img/content/content-doc-2.png" srcset="img/content/content-doc-2.png 1x, img/content/content-doc-2@2x.png 2x" alt="">
      <img class="doc-image doc-3" src="img/content/content-doc-3.png" srcset="img/content/content-doc-3.png 1x, img/content/content-doc-3@2x.png 2x" alt="">
    </div>
  </div>
</div>
