<div id="menu-overlay" class="block-overlay menu-overlay">
  <div class="container block-overlay__wrapper">
    <button class="block-overlay__close-button" type="button" aria-label="закрыть меню"></button>
    <div class="block-overlay__top">
      <figure class="block-overlay__logo">
        <img src="img/svg/main-logo-white.svg" alt="Профит">
        <figcaption class="block-overlay__logo-text">
          Бухгалтерские услуги
        </figcaption>
      </figure>

      <ul class="block-overlay__navigation">
        <li class="block-overlay__navigation-item">
          <a href="about.html">О нас</a>
        </li>
        <li class="block-overlay__navigation-item">
          <a href="price-list.html">Цены</a>
        </li>
        <li class="block-overlay__navigation-item">
          <a href="contacts.html">Контакты</a>
        </li>
      </ul>
    </div>

    <div class="block-overlay__inner block-overlay__inner--custom-scroll">
      <div class="menu-overlay__custom-scroll" data-simplebar><ul class="menu-overlay__list layout-list">
        <li class="layout-list__item" aria-label="Для ИП">
          <div class="layout-list__sub-item">
            <a href="" class="layout-list__heading">Бухгалтерские услуги для ИП</a>
            <ul class="layout-list__sub-list">
              <li class="active">
                <a href="one-service-page.html">Бухгалтерская консультация для ИП</a></li>
              <li><a href="">Составление и сдача бухгалтерской отчетности для ИП</a></li>
              <li><a href="">Регистрация ИП во внебюджетных фондах</a></li>
              <li><a href="">Ведение бухгалтерии для ИП</a></li>
              <li><a href="">Бухгальтерский учет для ИП</a></li>
              <li><a href="">Восстановление бухгалтерского учета для ИП</a></li>
              <li><a href="">Расчет заработной платы для ИП</a></li>
              <li><a href="">Анализ хозяйственной деятельности</a></li>
              <li><a href="">Анализ бухгалтерской отчетности (проверка)</a></li>
              <li><a href="">Анализ налогового учета (проверка)</a></li>
              <li><a href="">Разблокировка расчетного счета</a></li>
              <li><a href="">Нулевая отчетность</a></li>
              <li><a href="">Составление и сдача статистической отчетности</a></li>
              <li><a href="">Ведение кадрового учета</a></li>
            </ul>
          </div>

          <div class="layout-list__sub-item">
            <a href="" class="layout-list__heading">Бухгалтерские услуги для ИП</a>
            <ul class="layout-list__sub-list">
              <li><a href="">Бухгалтерская консультация для ИП</a></li>
              <li><a href="">Составление и сдача бухгалтерской отчетности для ИП</a></li>
              <li><a href="">Регистрация ИП во внебюджетных фондах</a></li>
              <li><a href="">Ведение бухгалтерии для ИП</a></li>
              <li><a href="">Бухгальтерский учет для ИП</a></li>
              <li><a href="">Восстановление бухгалтерского учета для ИП</a></li>
              <li><a href="">Расчет заработной платы для ИП</a></li>
              <li><a href="">Анализ хозяйственной деятельности</a></li>
              <li><a href="">Анализ бухгалтерской отчетности (проверка)</a></li>
              <li><a href="">Анализ налогового учета (проверка)</a></li>
              <li><a href="">Разблокировка расчетного счета</a></li>
              <li><a href="">Нулевая отчетность</a></li>
              <li><a href="">Составление и сдача статистической отчетности</a></li>
              <li><a href="">Ведение кадрового учета</a></li>
            </ul>
          </div>
        </li>
        <li class="layout-list__item" aria-label="Для ОО">
          <div class="layout-list__sub-item">
            <a href="" class="layout-list__heading">Бухгалтерские услуги для ИП</a>
            <ul class="layout-list__sub-list">
              <li><a href="">Бухгалтерская консультация для ИП</a></li>
              <li><a href="">Составление и сдача бухгалтерской отчетности для ИП</a></li>
              <li><a href="">Регистрация ИП во внебюджетных фондах</a></li>
              <li><a href="">Ведение бухгалтерии для ИП</a></li>
              <li><a href="">Бухгальтерский учет для ИП</a></li>
              <li><a href="">Восстановление бухгалтерского учета для ИП</a></li>
              <li><a href="">Расчет заработной платы для ИП</a></li>
              <li><a href="">Анализ хозяйственной деятельности</a></li>
              <li><a href="">Анализ бухгалтерской отчетности (проверка)</a></li>
              <li><a href="">Анализ налогового учета (проверка)</a></li>
              <li><a href="">Разблокировка расчетного счета</a></li>
              <li><a href="">Нулевая отчетность</a></li>
              <li><a href="">Составление и сдача статистической отчетности</a></li>
              <li><a href="">Ведение кадрового учета</a></li>
            </ul>
          </div>

          <div class="layout-list__sub-item">
            <a href="" class="layout-list__heading">Бухгалтерские услуги для ИП</a>
            <ul class="layout-list__sub-list">
              <li><a href="">Бухгалтерская консультация для ИП</a></li>
              <li><a href="">Составление и сдача бухгалтерской отчетности для ИП</a></li>
              <li><a href="">Регистрация ИП во внебюджетных фондах</a></li>
              <li><a href="">Ведение бухгалтерии для ИП</a></li>
              <li><a href="">Бухгальтерский учет для ИП</a></li>
              <li><a href="">Восстановление бухгалтерского учета для ИП</a></li>
              <li><a href="">Расчет заработной платы для ИП</a></li>
              <li><a href="">Анализ хозяйственной деятельности</a></li>
              <li><a href="">Анализ бухгалтерской отчетности (проверка)</a></li>
              <li><a href="">Анализ налогового учета (проверка)</a></li>
              <li><a href="">Разблокировка расчетного счета</a></li>
              <li><a href="">Нулевая отчетность</a></li>
              <li><a href="">Составление и сдача статистической отчетности</a></li>
              <li><a href="">Ведение кадрового учета</a></li>
            </ul>
          </div>
        </li>
        <li class="layout-list__item" aria-label="Прочие услуги">
          <div class="layout-list__sub-item">
            <a href="" class="layout-list__heading">Бухгалтерские услуги для ИП</a>
            <ul class="layout-list__sub-list">
              <li><a href="">Бухгалтерская консультация для ИП</a></li>
              <li><a href="">Составление и сдача бухгалтерской отчетности для ИП</a></li>
              <li><a href="">Регистрация ИП во внебюджетных фондах</a></li>
              <li><a href="">Ведение бухгалтерии для ИП</a></li>
              <li><a href="">Бухгальтерский учет для ИП</a></li>
              <li><a href="">Восстановление бухгалтерского учета для ИП</a></li>
              <li><a href="">Расчет заработной платы для ИП</a></li>
              <li><a href="">Анализ хозяйственной деятельности</a></li>
              <li><a href="">Анализ бухгалтерской отчетности (проверка)</a></li>
              <li><a href="">Анализ налогового учета (проверка)</a></li>
              <li><a href="">Разблокировка расчетного счета</a></li>
              <li><a href="">Нулевая отчетность</a></li>
              <li><a href="">Составление и сдача статистической отчетности</a></li>
              <li><a href="">Ведение кадрового учета</a></li>
              <li><a href="">Бухгалтерская консультация для ИП</a></li>
              <li><a href="">Составление и сдача бухгалтерской отчетности для ИП</a></li>
              <li><a href="">Регистрация ИП во внебюджетных фондах</a></li>
              <li><a href="">Ведение бухгалтерии для ИП</a></li>
              <li><a href="">Бухгальтерский учет для ИП</a></li>
              <li><a href="">Восстановление бухгалтерского учета для ИП</a></li>
              <li><a href="">Расчет заработной платы для ИП</a></li>
              <li><a href="">Анализ хозяйственной деятельности</a></li>
              <li><a href="">Анализ бухгалтерской отчетности (проверка)</a></li>
              <li><a href="">Анализ налогового учета (проверка)</a></li>
              <li><a href="">Разблокировка расчетного счета</a></li>
              <li><a href="">Нулевая отчетность</a></li>
              <li><a href="">Составление и сдача статистической отчетности</a></li>
              <li><a href="">Ведение кадрового учета</a></li>
            </ul>
          </div>
        </li>
      </ul></div>
    </div>
  </div>
</div>
