<div class="block-list-services">
  <div class="block-list-services__wrapper">
    <ul class="block-list-services__list list-service list-service--collapse list-service--two-row">
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Бухгалтерская консультация для ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Составление и сдача бухгалтерской отчетности для ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Регистрация ИП во внебюджетных фондах</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Ведение бухгалтерии для ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Бухгалтерский учет для ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Восстановление бухгалтерского учета ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>

      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Восстановление бухгалтерского учета ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>


      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Восстановление бухгалтерского учета ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Восстановление бухгалтерского учета ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Восстановление бухгалтерского учета ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Восстановление бухгалтерского учета ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
      <li class="list-service__item">
        <a href="" class="list-service__link">
          <div class="list-service__icon">
            <svg width="13" height="17">
              <use xlink:href="#icon-file"></use>
            </svg>
          </div>

          <div class="list-service__content">
            <span class="list-service__title">Восстановление бухгалтерского учета ИП</span>
            <span class="list-service__descr">It's a dangerous business, Frodo, going out your door.</span>
          </div>
        </a>
      </li>
    </ul>

    <button class="block-list-services__btn">Смотреть все</button>
  </div>
</div>
