<div class="callback-block-with-modal {{class}}">
  <div class="container">
    <div class="callback-block-with-modal__wrapper">
      <span class="callback-block-with-modal__title">
    Заказать бухгалтерскую консультацию для ИП
  </span>

      <p class="callback-block-with-modal__text">
        Оставьте свои данные,
        <br>
        Мы вам перезвоним в&nbsp;кратчайшие сроки.
      </p>

      <button type="button" class="request-service-button callback-block-with-modal__button" data-name-service="Бухгалтерская консультация для ИП">Заказать</button>
    </div>
  </div>
</div>
