<div class="layout-search" id="layout-search">
  <div class="layout-search__close">
    <button class="close-layout" type="button" id="close-layout-search"></button>
  </div>
  <div class="layout-search__wrapper">
    <div class="layout-search__logo">
<!--      <img src="img/logo-mini.svg" alt="Карпюк Владимир Борисович">-->
    </div>
    <div class="layout-search__inner">
      <form class="search-form" action="" method="">
        <input class="search-form__input" type="text" placeholder="поиск по сайту">
        <button type="submit" class="search-form__btn"></button>
      </form>
    </div>
    <div class="layout-search__copyright">
      <div class="copyright"> <a href="" target="_blank">
        создание сайта <span>PLATZKART</span></a></div>
    </div>
  </div>
</div>
