<div class="single-review">
  <div class="container">
    <div class="single-review__wrapper">
      <svg width="98" height="98" class="single-review__logo">
        <use xlink:href="#logo-profit"></use>
      </svg>

      <p class="single-review__text">
        Бухгалтерские услуги для&nbsp;ИП <br>
        в&nbsp;Краснодаре, от&nbsp;лучшей компании
      </p>

      <figure class="single-review__author">
        <img src="img/content/empty-user.png" alt="Мария Шарапова">
        <figcaption class="single-review__user">
          <span class="single-review__name">Мария Шарапова</span>
          <span class="single-review__position">Ваш любимый автор</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
